body {
    margin: 0;
    padding: 0;
    font-family: 'Happy Monkey', cursive; 

    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0; 
        width: 100%;
        background-color: #A9D8B8;

        #teamHeader{
            font-size: 3vw;
            color:  white;
            padding: 1vw 2vw;

            a {
                text-decoration: none;
                color: white;
            }
        }

        nav {
            background-color: #A9D8B8;

            ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end; 
                padding: 0.5vw 2vw;
                text-decoration: none; 

                li {
                    padding: 1%;
                    list-style: none; 

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 2vw; 
                        margin: 0.5vw;
                    }

                    a:hover {
                        font-size: 2.5vw;
                        color: black;
                    }
                }
            }
        }
    }

    main {
        section {
            margin: 2%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;

            #memberCard {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                flex-basis: 20%;

                border: 2px solid #A9D8B8;
                border-radius: 5%;
                

                img {
                    margin-top: 2%;
                    border-radius: 100%;
                    object-fit: cover;
                    height: 40%;
                    width: 40%;
                }

                h3 {
                    font-weight: bold;
                    text-align: center;
                }

                p, ul{
                    margin: 1% 0;
                    padding: 0px;
                }

                ul {
                    margin-bottom: 5%;
                }
            }

            #content {
                flex-basis: 78%;
                height: 100%;
                border-radius: 5%;
                box-shadow: lightgrey;

                hr {
                    background-color: #A9D8B8;
                    width: 95%;
                    height: 1%;
                    color: #A9D8B8;
                }

            }
        }
    }

    footer {
        background-color: #A9D8B8;
        color: white;
        margin: 1% 0 0 0; 

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        

        #logo {
            align-self: flex-end;
            margin: 2%;
        }

        p {
            padding: 1%;
            text-align: center; 
        }
    }
}
